# Firebase Service Account
firebase-service-account.json
firebase-service-account*.json

# Arquivos de ambiente
.env
.env.local

# Firebase cache
.firebase/

# Firebase config
.firebaserc

# Node modules
node_modules/